In [124]:
from ydata_profiling import ProfileReport
from sklearn.compose import make_column_selector as selector

In [125]:
import pandas as pd
import numpy as np

In [126]:
df = pd.read_excel('1.xls')

In [127]:
num_colunas = df.shape[1]
print(f"numero de colunas:{num_colunas}.")

numero de colunas:25.

In [128]:
num_linhas = df.shape[0]
print(f"numero de linhas: {num_linhas}.")

numero de linhas: 30000.

In [129]:
def classificar_colunas(df, limite=15, colunas_excluidas=['ID']):
    resultado = {}
    for coluna in df.columns:
        if coluna in colunas_excluidas:
            continue
        if df[coluna].nunique() <= limite and pd.api.types.is_numeric_dtype(df[coluna]):
            resultado[coluna] = "Categórica"
        else:
            resultado[coluna] = "Numérica"
    return resultado
classificacao = classificar_colunas(df)
for coluna, tipo in classificacao.items():
    print(f"{coluna:<25} → {tipo}")

LIMIT_BAL                 → Numérica
SEX                       → Categórica
EDUCATION                 → Categórica
MARRIAGE                  → Categórica
AGE                       → Numérica
PAY_1                     → Numérica
PAY_2                     → Categórica
PAY_3                     → Categórica
PAY_4                     → Categórica
PAY_5                     → Categórica
PAY_6                     → Categórica
BILL_AMT1                 → Numérica
BILL_AMT2                 → Numérica
BILL_AMT3                 → Numérica
BILL_AMT4                 → Numérica
BILL_AMT5                 → Numérica
BILL_AMT6                 → Numérica
PAY_AMT1                  → Numérica
PAY_AMT2                  → Numérica
PAY_AMT3                  → Numérica
PAY_AMT4                  → Numérica
PAY_AMT5                  → Numérica
PAY_AMT6                  → Numérica
default payment next month → Categórica

In [130]:
print("Numéricas:")
numéricas = [col for col, tipo in classificacao.items() if tipo == "Numérica"]
df[numéricas] = df[numéricas].apply(pd.to_numeric, errors='coerce')
print(df[numéricas].apply(lambda x: x[(x != 0) & (x.notna())].describe()).round(2))

Numéricas:
        LIMIT_BAL       AGE     PAY_1  BILL_AMT1  BILL_AMT2   BILL_AMT3  \
count    29685.00  29685.00  13577.00   27693.00   27209.00    26843.00
mean    167519.95     35.48     -0.03   54865.93   53612.06    51965.90
std     129716.48      9.21      1.58   74841.10   72623.04    71081.61
min      10000.00     21.00     -2.00 -165580.00  -69777.00  -157264.00
25%      50000.00     28.00     -1.00    6059.00    6232.00     6574.00
50%     140000.00     34.00     -1.00   26708.00   26831.00    25945.00
75%     240000.00     41.00      1.00   72034.00   70276.00    68005.00
max    1000000.00     79.00      8.00  964511.00  983931.00  1664089.00

       BILL_AMT4  BILL_AMT5  BILL_AMT6   PAY_AMT1    PAY_AMT2   PAY_AMT3  \
count   26520.00   26214.00   25706.00   24496.00    24337.00   23777.00
mean    48406.52   45644.77   44908.21    6874.58     7217.91    6528.65
std     66142.05   62775.38   61887.34   18064.75    25334.60   19505.49
min   -170000.00  -81334.00 -339603.00       1.00        1.00       1.00
25%      6577.00    5962.00    5427.50    1610.00     1503.00    1202.00
50%     23448.00   21336.50   20833.00    3000.00     3000.00    2500.00
75%     62609.00   58544.25   57504.25    6005.25     6000.00    5280.00
max    891586.00  927171.00  961664.00  873552.00  1684259.00  896040.00

        PAY_AMT4   PAY_AMT5   PAY_AMT6
count   23340.00   23045.00   22584.00
mean     6138.93    6189.74    6860.02
std     17371.03   17129.99   20127.91
min         1.00       1.00       1.00
25%      1000.00    1000.00    1000.00
50%      2204.00    2300.00    2386.50
75%      5000.00    5000.00    5002.00
max    621000.00  426529.00  528666.00

In [131]:
print("Categóricas")
categóricas = [col for col, tipo in classificacao.items() if tipo == "Categórica"]

for col in categóricas:
    print(f"\n{col}:")
    counts = df[col][df[col] != 0].value_counts(normalize=True).round(2)
    print(counts)

Categóricas

SEX:
SEX
2    0.6
1    0.4
Name: proportion, dtype: float64

EDUCATION:
EDUCATION
2    0.47
1    0.35
3    0.16
5    0.01
4    0.00
6    0.00
Name: proportion, dtype: float64

MARRIAGE:
MARRIAGE
2    0.53
1    0.46
3    0.01
Name: proportion, dtype: float64

PAY_2:
PAY_2
-1    0.42
 2    0.27
-2    0.27
 3    0.02
 4    0.01
 1    0.00
 5    0.00
 7    0.00
 6    0.00
 8    0.00
Name: proportion, dtype: float64

PAY_3:
PAY_3
-1    0.42
-2    0.29
 2    0.27
 3    0.02
 4    0.01
 7    0.00
 6    0.00
 5    0.00
 1    0.00
 8    0.00
Name: proportion, dtype: float64

PAY_4:
PAY_4
-1    0.42
-2    0.32
 2    0.23
 3    0.01
 4    0.00
 7    0.00
 5    0.00
 6    0.00
 1    0.00
 8    0.00
Name: proportion, dtype: float64

PAY_5:
PAY_5
-1    0.42
-2    0.35
 2    0.20
 3    0.01
 4    0.01
 7    0.00
 5    0.00
 6    0.00
 8    0.00
Name: proportion, dtype: float64

PAY_6:
PAY_6
-1    0.42
-2    0.36
 2    0.20
 3    0.01
 4    0.00
 7    0.00
 6    0.00
 5    0.00
 8    0.00
Name: proportion, dtype: float64

default payment next month:
default payment next month
1    1.0
Name: proportion, dtype: float64

In [132]:
contagem = (df.drop(columns='ID') == 0).fillna(0).eq(0).all(axis=1).sum()
print(f"Total de linhas sem nenhuma informação relevante(excluindo ID): {contagem}")

Total de linhas sem nenhuma informação relevante(excluindo ID): 403